body {
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;
}

.navigation {
    top: 0%;
    margin: 0%;
    position: sticky;
    display: flex;
    z-index: 9999;
}

.logo {
    font-family: cursive;
    font-size: 30px;
    text-decoration: none;
    color: rgb(9, 169, 222);
    margin-left: 3%;
    margin-top: .3%;
}

.nav {
    margin: 20px;
    text-decoration: none;
    font-size: 120%;
    color: black;
}

.nav:hover{
    color: white;
    text-shadow: 0 0 10px rgb(9, 169, 222);

}

.center {
    margin-left: 50%;
    padding: 1.5%;
}

/*dropdown start*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
 color: rgb(9, 169, 222);
}

.dropdown:hover .dropdown-content {
  display: block;
}
/*dropdown end*/

.dmlm  {
    float: right;
    margin-left: 100px;
    border-radius: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    color: black;
}

.dml  {
    margin-left: 110px;
    border-radius: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
    position: absolute;
}

.pimgs {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-top: 200px;
    margin-left: 200px;
    box-shadow: 0 0 10px rgb(9, 169, 222);
}

.homepage p{
    text-align: center;
    margin-left: 40%;
    margin-top: -10%;
    font-size: 20px;
    text-shadow: 0 0 10px rgb(9, 169, 222);
}

.abt{
  margin-top: 300px;
  display: flex;
}

.box{
  margin: 100px;
  text-align: center;
  margin-left: 200px;
  box-shadow: 0 0 10px rgb(9, 169, 222);
  width: 300px;
  height: 410px;
  text-shadow: 0 0 10px rgb(9, 169, 222);
}




/* Responsive Design for Mobile Devices */
@media screen and (max-width: 768px) {

  .navigation {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    font-size: 24px;
    margin: 10px 0;
  }

  .nav {
    margin: 10px 0;
    font-size: 100%;
  }

  .center {
    margin-left: 0;
    padding: 1%;
    text-align: center;
  }

  .dropdown-content {
    position: static;
    min-width: 100%;
    text-align: center;
  }

  .dml, .dmlm {
    float: none;
    margin: 10px auto;
    display: block;
    position: static;
    text-align: center;
  }

  .pimgs {
    width: 150px;
    height: 150px;
    margin: 40px auto;
    display: block;
  }

  .homepage p {
    margin: 20px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}





